
HoardSorter/HoardSorter/Web.config
HoardSorter/.vs/config/applicationhost.config
HoardSorter/.vs/HoardSorter/v15/.suo
HoardSorter/HoardSorter/obj/Debug/HoardSorter.csproj.CoreCompileInputs.cache
HoardSorter/HoardSorter/obj/Debug/HoardSorter.csprojAssemblyReference.cache
