@model IEnumerable<HoardSorter.Models.Trades>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style>
    body {
        background-image: url("/Content/5Colors.PNG");
        background-color: rebeccapurple;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 400px;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Name }) |
                @Html.ActionLink("Details", "Details", new { id = item.Name }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Name })
            </td>
        </tr>
    }

</table>
